.link-container {
  border: 1px solid var(--my-primary);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.link-container:hover {
  background-color: #26396ad6;
  border: 1px solid var(--my-secondary);
}
